name: acme

services:
  postgres:
    image: pgvector/pgvector:0.8.0-pg17-bookworm
    container_name: acme-postgres
    environment:
      POSTGRES_DB: acme
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5412:5432"
    volumes:
      - acme_postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: acme-redis
    ports:
      - "6385:6379"
    volumes:
      - acme_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    command: redis-server --appendonly yes

volumes:
  acme_postgres_data:
  acme_redis_data:
